@font-face {
    font-family: F1Font;
    src: url('../Genos-VariableFont_wght.ttf');
}
*{
    padding: 0;
    margin: 0;
    
}

.nav-bar{
    display: flex;
    justify-content: center;
    background-color: #e10600;
    padding: 0.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    max-width:  100vw;
}

.nav-width{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: 1200px;
}

.nav-bar-button{
    display: inline-flex;
    justify-content: center;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-color: transparent;
    color: white;
    background-color: transparent;
    padding: 0.5rem;
    min-width: 150px;
    font-family: 'F1Font';
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.08rem;
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
    
}

/* button{
    background-color: #302f2d;
    color: white;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: 0.3rem;
    border-color: #302f2d;
    font-family: 'F1Font';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.08rem;
} */

.nav-bar-button:hover{
    cursor: pointer;
    background-color: #302f2d;
}

.nav-bar-button-active{
    display: inline-flex;
    justify-content: center;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-color: transparent;
    color: white;
    background-color: #302f2d;
    padding: 0.5rem;
    min-width: 150px;
    font-family: 'F1Font';
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.08rem;
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.Header{
    display: flex;
    justify-content: center;
    background-color: #e10600;
    color: white;
    font-family: 'F1Font';
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.08rem;
    padding-bottom: 0rem;
    max-width:  100%;
}

.Body{
    display: flex;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
    
}



.home-body{
    /* padding-top: 5em
    padding-left: 10em;
    padding-right: 10em; */
    /* text-align: center; */
    /* background-image: url("f1234.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    background-image: url("ft.jpg");
    background-size: 100% auto;
    background-repeat: repeat;
    color: white;
    width: 100vw;
    padding: 2em;
    position: relative;
    flex-direction: column;
    
}

.home-body::before {    
    content: "";
    
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.65);
    /* z-index: -1; */
}


.basic-info{
    display: flex;
    flex-direction: column;
    margin: 3em;
    border-radius: 2em;
    /* border-style: solid;
    border-color: white; */
    border-width: 3px;
    justify-content: center;
    /* background: #302f2d; */
    min-height: 5em;
    padding: 2em;
    color: black;
    align-items: center;
    position: relative;
    z-index: 1;
}

.Footer{
    display: flex;
    justify-content: center;
    background-color: #302f2d;
    color: white;
    font-family: 'F1Font';
    font-size: 15px;
    letter-spacing: 0.08rem;
    padding: 1rem;
}

.acc-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* flex-grow: 1; */
    padding-top: 15vh;
    justify-content: center;
    height: 100%;
}

.form-field{
    display: flex;
    justify-content: space-between;
    /* min-width: 340px; */
    padding: 0.25rem;
    font-family: 'F1Font';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.08rem;
    align-items: center;
}

.form-button{
    display: flex;
    justify-content: center;
    /* min-width: 340px; */
    padding: 0.5rem;
    font-family: 'F1Font';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.08rem;
    align-items: center;
}

input{
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    margin-top: 0.2rem;
    padding: 0.4rem;
    font-size: 16px;
    align-items: center;
    border-color: #302f2d;
    border-width: 1px;

}

button{
    background-color: #302f2d;
    color: white;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: 0.3rem;
    border-color: #302f2d;
    font-family: 'F1Font';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.08rem;
}

.text-under-form{
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: 0.3rem;
    padding-top: 0.8rem;
    border-color: #302f2d;
    font-family: 'F1Font';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.08rem;
}

a {
    color: #302f2d;
}

.form-button button:hover{
    cursor: pointer;
    background-color: #e10600;
    border-color: #e10600;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    margin: 0.5rem;
    margin-bottom: 0.7rem;
    background: #000;
    color: #fff;
    padding: 0.5rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.roots{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.word-wrap{
    word-wrap: break-word;
}

.picture{
    width: 10em;
    height: 10em;
    border-radius: 5em;
}